

#custom-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
    bottom:0;
    z-index: -10;

	width: 100%;
	height: 200px;
	color: rgba(black, .5);

	background-color: $coog-red;

	div {
		min-width: 400px;
		width: 90%;
	}
}