$coog-red: rgba(200,16,46,1.00);

h1 {
	text-align: center;
}

h2 {
	font-color: 30px;
}

h3 {
	font-size: 17px;
}

a:hover {
	text-decoration: none;
}

#yield-container {
	background-color: white;
	margin-bottom: 200px;
}

@mixin general-width {
	min-width: 400px;
	width: 80%;
	max-width: 800px;
}