<div id="events">
    <% if obj.length > 0 %>
    <% obj.each do |event| %>
      <%= render partial: "events/shared/event", locals: { event: event } %>
    <% end %>
    <% else %>
      <div class="no-events-found">
        <h3>No Events Found</h3>
      </div>
    <% end %>
    <%  %>
    <% if !obj.nil? && obj.length > 0 %>
      <%= will_paginate obj, renderer: BootstrapPagination::Rails %>
    <% end %>
</div>
