<p id="notice"><%= notice %></p>
<div id="events-index">

  <div class="header">
    <div class="header-image">
      <div>
        <h1>Text text text</h1>
        <button type="button" class="btn btn-danger btn-lg">
         CTA
        </button>
      </div>
    </div>
    <div class="header-container">

      <div class="input-group stylish-input-group search-bar">
        <input type="text" class="form-control"  placeholder="Search" >
          <span class="input-group-addon">
              <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>  
          </span>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default">Sort By</button>
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Newest</a></li>
          <li><a href="#">Soonest</a></li>
          <li><a href="#">Free</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default">Category</button>
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Academic</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Bauer</a></li>
          <li><a href="#">WCE</a></li>
          <li><a href="#">MISSO</a></li>
        </ul>
      </div>

      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar View
      </button>

     </div>   
  </div>
  
 <div id="events">
<%= render 'events', obj: @events %>
</div>


